.card {
  clip-path: url(#myClip);
  position: absolute;
  top: -55px;
  left: -250px;
  width: 400px;
  height: 450px;
  // background: red;
  clip-path: polygon(
    20% 0,
    0% 100%,
    60% 100%,
    60% 10%,
    98% 10%,
    82% 90%,
    60% 90%,
    60% 100%,
    80% 100%,
    100% 0%
  );
  overflow: visible;
  position: absolute;
}
.filler {
  position: absolute;
  top: -55px;
  right: 100px;
  width: 1000px;
  height: 450px;
  // background: red;
}
