.animate {
  stroke: #ffff;
  filter: drop-shadow(0 0 10px #adb5bd) drop-shadow(0 0 20px #adb5bd)
    drop-shadow(0 0 40px #212529);
}
.still {
  stroke: #f44336;
  filter: drop-shadow(-6px 6px 18px black);
  -webkit-filter: drop-shadow(-6px 6px 18px black);
}

.flicker1 {
  animation: animate 2s linear;
  -webkit-animation: animate 2s linear;
  animation-delay: 2s;
  @keyframes animate {
    0%,
    18.1%,
    20%,
    55%,
    60%,
    90%,
    92% {
      stroke: #2d2a32;
      filter: none;
      -webkit-filter: none;
    }
    18%,
    20.1%,
    55.1%,
    60.2%,
    90.1%,
    92.2%,
    100% {
      stroke: #ffff;
      filter: drop-shadow(0 0 10px #adb5bd) drop-shadow(0 0 20px #adb5bd)
        drop-shadow(0 0 40px #212529) drop-shadow(0 0 60px #adb5bd);
      -webkit-filter: drop-shadow(0 0 10px #adb5bd)
        drop-shadow(0 0 20px #adb5bd) drop-shadow(0 0 40px #212529)
        drop-shadow(0 0 60px #adb5bd);
    }
  }
}
