.cube {
  --cWidth: min(500px, 300px);
  --tCube: calc(var(--cWidth) / 2);
  --tShadow: calc((var(--cWidth)-50px) * -1);
  --bColor: #fff;
  position: fixed;
  transform-style: preserve-3d;
  width: var(--cWidth);
  height: var(--cWidth);
  // transform: rotateX(-30deg);
  // animation: rota 3s linear infinite;
  @keyframes rota {
    0% {
      transform: rotateX(-30deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  & > div {
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .upper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    //background: #151815;
    //background: url("../../public/cubebg2.jpg");
    //background-size: cover;
    //background: rgb(245, 235, 235);
    // box-shadow: 0px 0px 5px var(--bColor);
    // box-shadow: 0px 0px 5px white;
    transform: rotateX(90deg) translateZ(var(--tCube));
    -webkit-transform: rotateX(90deg) translateZ(var(--tCube));
    -moz-transform: rotateX(90deg) translateZ(var(--tCube));
    -ms-transform: rotateX(90deg) translateZ(var(--tCube));
    -o-transform: rotateX(90deg) translateZ(var(--tCube));
  }
  .lower {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: var(--bColor);
    // border-radius: 50%;
    transform: rotateX(90deg) translateZ(var(--tShadow));
    // filter: blur(20px);
    box-shadow: 0px 0px 20px var(--bColor), 0px 0px 40px var(--bColor),
      0px 0px 640px var(--bColor);
    animation: color 8s linear infinite;
  }
}

/* @media (max-width: 775px) {
  :root {
    --cWidth: 100px;
  }
} */
