.hudDayOuter {
  height: 100vh;
  //fill: #00ccff;
  fill: #98f0ef;
  // filter: drop-shadow(0 0 10px #98f0ef);
  // -webkit-filter: drop-shadow(0 0 10px #98f0ef);
  //-webkit-filter: drop-shadow(0 0 10px #adb5bd);
  opacity: 0.8;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.hudDayInner {
  height: 100vh;
  //fill: #00ccff;
  fill: #ffd3ac;
  // filter: drop-shadow(0 0 10px #ffd3ac);
  // -webkit-filter: drop-shadow(0 0 10px #ffd3ac);
  //-webkit-filter: drop-shadow(0 0 10px #adb5bd);
  opacity: 0.8;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.hudNightInner {
  // width: min(100%, 200vh);
  height: 100vh;
  fill: white;
  fill: #ffd3ac;
  filter: drop-shadow(0 0 10px #ffd3ac);
  opacity: 0.8;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.hudNightOuter {
  // width: min(100%, 200vh);
  height: 100vh;
  fill: #98f0ef;
  filter: drop-shadow(0 0 10px #98f0ef);
  -webkit-filter: drop-shadow(0 0 10px white);
  opacity: 0.8;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
